<fieldset>
	<legend>Categoria - Pesquisar</legend>
  <div class="panel-body">
		<form action="">
  		<fieldset>
  			<div class="form-group" style="width:60%">
  				<label>Descrição</label>
  				<input class="form-control" placeholder="Informe a descrição da categoria" type="text">
  			</div>
      </fieldset>
    </form>
  </div>
</fieldset>

<div>
  <button type="submit" class="btn btn-primary">
		Pesquisar
	</button>
  <button class="btn btn-primary" [routerLink]="['/categoria-form']">
		Novo
	</button>
</div>
