<div class="alert alert-danger" role="alert" *ngIf="message">
    <strong>{{message}}</strong>
</div>

<div class="page-content container">
        
  <div class="row">        
    <div class="col-md-4 col-md-offset-4">
        <form #form="ngForm" (ngSubmit)="login()" novalidate>
            <div class="login-wrapper">
                <div class="box">                
                    <div class="content-wrap">
                        <h6>S.Con.D</h6>
                    
                        
                        <input type="text" 
                        [(ngModel)]="usuario.dsLogin"
                               name="login" 
                              class="form-control" 
                                 id="inputLogin" 
                        placeholder="Informe seu Login"
                             #dsLogin="ngModel" required>

                        <input type="password" 
                        [(ngModel)]="usuario.dsPassword"
                            name="password" 
                            class="form-control" 
                                id="inputPassword" 
                        placeholder="Informe sua Senha"
                        #dsPassword="ngModel" required>

                    
                        <div class="action">                           
                            <button type="submit" [disabled]="!form.valid" class="btn btn-primary signup">Entrar</button>
                        </div>                
                    </div>
                </div>

                <div class="already">
                    <p>Ainda não tem uma conta?</p>
                    <a href="signup.html">Cadastre-se</a>
                </div>
            </div>
        </form>        
    </div>
  </div>
</div>

