<fieldset>
	<legend>Despesa - Pesquisar</legend>
  <div class="panel-body">

		<div [ngClass]="classCss" role="alert" *ngIf="message">
	    <strong>{{ message.text }}</strong>
	  </div>

		<form action="">

			<fieldset>
				<div class="form-group" style="width:10%">
  				<label>Código </label>
					<input type="text" class="form-control" maxlength="5" soNumero/>
  			</div>
      </fieldset>

			<fieldset>
				<div class="form-group" style="width:100%">
  				<label>Data de Compra </label>
						<div>
						<input type="text"
									 [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
									 [(ngModel)]="despesaFilter.dtCompraInicio"
									 name="dtCompra"
									 #dtCompra="ngModel"
									 maxlength="10"
									 class="form-control"
									 placeholder="dd/mm/aaaa"
									 required
									 style="text-align:right; width: 15%; display:inline;"
									 bsDatepicker>

						a

						<input type="text"
									 [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
									 [(ngModel)]="despesaFilter.dtCompraFim"
									 name="dtCompra"
									 #dtCompra="ngModel"
									 maxlength="10"
									 class="form-control"
									 placeholder="dd/mm/aaaa"
									 required
									 style="text-align:right; width: 15%; display:inline;"
									 bsDatepicker>
								 </div>
  			</div>
      </fieldset>


  		<fieldset>
				<div class="form-group" style="width:60%">
  				<label>Situação </label>
					&nbsp;
					<input name="situacao" type="radio" value='T'  [(ngModel)]="despesaFilter.fgAtivo" >Todos&nbsp;
					<input name="situacao" type="radio" value='S'  [(ngModel)]="despesaFilter.fgAtivo" >Ativos&nbsp;
					<input name="situacao" type="radio" value='N'  [(ngModel)]="despesaFilter.fgAtivo" >Inativos&nbsp;
  			</div>
      </fieldset>
    </form>
  </div>
</fieldset>

	<div style="padding-left:15px;">
	  <button type="submit" class="btn btn-primary" (click) = "pesquisar()">
			Pesquisar
		</button>
	  <button class="btn btn-primary" [routerLink]="['/despesa-form']">
			Novo
		</button>
	</div>
<div>

<div class="panel-body">
  <table class="table table-responsive table-striped table-bordered table-hover no-margin" *ngIf="lista.length>0">
    <tr>
      <th style="width: 5%; text-align:center;">Código</th>
			<th style="width: 26%; text-align:center;">Segmento</th>
			<th style="width: 26%; text-align:center;">Estabelecimento</th>
			<th style="width: 10%; text-align:center;">Dt de Compra</th>
			<th style="width: 10%; text-align:center;">Valor</th>
			<th style="width: 6%; text-align:center;">Cartão</th>
			<th style="width: 8%; text-align:center;">Situação</th>
      <th style="width: 3px;">&nbsp;</th>
      <th style="width: 3px;">&nbsp;</th>
      <th style="width: 3px;">&nbsp;</th>
    </tr>
    <tr *ngFor="let despesa of pagedItems">
      <td style="text-align:right;">{{despesa.idDespesa}}</td>
			<td style="text-align:left;">{{despesa.segmento.dsSegmento}}</td>
			<td style="text-align:left;">{{despesa.estabelecimento.dsEstabelecimento}}</td>
			<td style="text-align:center;">{{despesa.dtCompra | date: 'dd/MM/yyyy'}}</td>
			<td style="text-align:right;">R$ {{despesa.strVlDespesa}}</td>

			<td *ngIf="despesa.fgCartao == 'S'">Sim</td>
			<td *ngIf="despesa.fgCartao == 'N'">Não</td>

			<td *ngIf="despesa.fgAtivo == 'S'" style="color: green;">Ativo</td>
			<td *ngIf="despesa.fgAtivo == 'N'" style="color: red;">Inativo</td>

      <td>
				<img src="assets/img/visualizar.png" (click)="visualizar(despesa.idDespesa)" style="width:18px; height: 18px; cursor: pointer;"/>
      </td>
      <td>
        <img src="assets/img/edit.png" (click)="editar(despesa.idDespesa)" style="width:18px; height: 18px; cursor: pointer;" />
      </td>
      <td>
				<img *ngIf="despesa.fgAtivo == 'S'" src="assets/img/remove.png" (click)="inativar(despesa.idDespesa)" style="width:18px; height: 18px; cursor: pointer;"/>
				<img *ngIf="despesa.fgAtivo == 'N'" src="assets/img/ativar.png" (click)="ativar(despesa.idDespesa)" style="width:18px; height: 18px; cursor: pointer;"/>
			</td>
    </tr>
  </table>
</div>

<div style="text-align:center;">
	<div style="padding-left:15px; padding-right: 15px; text-align: right; vertical-align: botton; font-size: 11px; color:gray;">
	  <span *ngIf="lista.length == 1">Foi encontrado {{lista.length}} registro.</span>
		<span *ngIf="lista.length > 1">Foram encontrados {{lista.length}} registros.</span>
	</div>

	<ul *ngIf="pager.pages && pager.pages.length && lista.length>0" class="pagination" style="font-size:10px; cursor: pointer;">
	    <li [ngClass]="{disabled:pager.currentPage === 1}">
	        <a (click)="setPage(1)"><b><<</b></a>
	    </li>
	    <li [ngClass]="{disabled:pager.currentPage === 1}">
	        <a (click)="setPage(pager.currentPage - 1)"><</a>
	    </li>
	    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
	        <a (click)="setPage(page)">{{page}}</a>
	    </li>
	    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	        <a (click)="setPage(pager.currentPage + 1)">></a>
	    </li>
	    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
	        <a (click)="setPage(pager.totalPages)"> >> </a>
	    </li>
	</ul>

	<div style="text-align: center;" *ngIf="lista.length<=0">
		Sua consulta não gerou resultados.
	</div>

</div>
