
<fieldset>
	<legend>Categoria - Visualizar</legend>
  <div class="panel-body">
		<div [ngClass]="classCss" role="alert" *ngIf="message">
			<strong>{{ message.text }}</strong>
		</div>


    <div class="form-group">
          <label class="col-sm-3 control-label" style="text-align: right;">Código: </label>
          {{segmento.idSegmento}}
    </div>

		<div class="form-group">
  				<label class="col-sm-3 control-label" style="text-align: right;">Descrição: </label>
				  {{segmento.dsSegmento}}
    </div>

		<div class="form-group">
  				<label class="col-sm-3 control-label" style="text-align: right;">Categoria: </label>
				  {{segmento.categoria.dsCategoria}}
    </div>

    <div class="form-group">
  				<label class="col-sm-3 control-label" style="text-align: right;">Situação: </label>
				  <span *ngIf="segmento.fgAtivo == 'S'">Ativo</span>
          <span *ngIf="segmento.fgAtivo == 'N'">Inativo</span>
    </div>

    <div class="form-group">
  				<label class="col-sm-3 control-label" style="text-align: right;">Data de Cadastro: </label>
				  {{segmento.dtCadastro | date:'dd/MM/yyyy HH:mm:ss'}}
    </div>

    <div class="form-group">
  				<label class="col-sm-3 control-label" style="text-align: right;">Data de Manutenção: </label>
				  {{segmento.dtManutencao | date:'dd/MM/yyyy HH:mm:ss'}}
    </div>

  </div>
</fieldset>

<div style="text-align:right;">
  <button class="btn btn-default" (click)="fechar()">
		Fechar
	</button>
</div>
