<form #form="ngForm" (ngSubmit)="cadastrar()" novalidate>
	<fieldset>
		<legend>Categoria - {{acao}}</legend>
	  <div class="panel-body">
			<div [ngClass]="classCss" role="alert" *ngIf="message">
				<strong>{{ message.text }}</strong>
			</div>

			<fieldset>
				<div [ngClass]="getFormGroupClass(dsCategoria.invalid,dsCategoria.dirty)" style="width:60%">
	  				<label>Descrição <span style="color: red;"> * </span></label>
						<input type="text"
	          					[(ngModel)]="categoria.dsCategoria"
	                    name="dsCategoria"
	                    class="form-control"
	                    id="inputDsCategoria"
	                    placeholder="Informe a descrição da categoria"
	                    #dsCategoria="ngModel"
	                    required>
				</div>
      </fieldset>

	  </div>
	</fieldset>

	<div style="padding-left:15px;">
	  <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
			{{acao}}
		</button>
	  <button class="btn btn-default" [routerLink]="['/categoria-list']">
			Cancelar
		</button>
	</div>
</form>
