<div class="col-md-2">
  <div class="sidebar content-box" style="display: block;">
  <ul class="nav">
      <li><a [routerLink]="['/']"><i class="glyphicon glyphicon-stats"></i> Dashboard</a></li>
      <li><a [routerLink]="['/categoria-list']"><i class="glyphicon glyphicon-tasks"></i> Categoria</a></li>
      <li><a [routerLink]="['/segmento-list']"><i class="glyphicon glyphicon-list"></i> Segmento</a></li>
      <li><a [routerLink]="['/estabelecimento-list']"><i class="glyphicon glyphicon-home"></i> Estabelecimento</a></li>
      <li><a [routerLink]="['/cartao-list']"><i class="glyphicon glyphicon-credit-card"></i> Cartão</a></li>
      <li><a [routerLink]="['/despesa-list']"><i class="glyphicon glyphicon-pencil"></i> Despesa</a></li>
  </ul>
  </div>
</div>
